div.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 30px 50px;
    margin: 0 auto;
    width: 40%;
    position: relative;
}

p.error-message {
    color: black;
}
